.heading{
    width: 100%;
    height: 80px;
    padding-top: 20px;
}

.button{
    float: right;
    border: 1px solid white;
}

.heading h3{
    display: inline;
}

#img{
    width: 100%;
}

#r{
    background-color: aqua;
    line-height: 2;
    margin: 0px;
}

.img{
    width: 45%;
    display: inline-block;
}

video{
    background-image: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 30px;
    padding-left: 2px;
}